@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* .background-image-home{
    background-image: url('https://cdn.pixabay.com/photo/2018/03/10/17/16/woman-3214594_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
} */